# Python
__pycache__/
*.py[cod]
*.pyo
*.db
*.sqlite3
.pytest_cache/
.mypy_cache/

# Virtual Environments
venv/
.venv/
env/

# Environment Variables
.env

# VS Code
.vscode/

# Docker
docker-data/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Uploads (if generated locally)
uploads/

# Python build
dist/
build/
*.egg-info/